In [1]:
1+1

2

In [2]:
512+512

1024

In [3]:
1024+1024

2048

In [4]:
2048+2048

4096

In [5]:
4096+4096

8192

In [6]:
8192+8192

16384

In [7]:
16384+16384

32768

In [8]:
32768=16384+

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3053824357.py, line 1)

In [9]:
1

1

In [10]:
1.0

1.0

In [11]:
10+10-10x10-10+10

SyntaxError: invalid decimal literal (1772501618.py, line 1)

In [12]:
1/2

0.5

In [13]:
2**4

16

In [14]:
2+3*5+5

22

In [15]:
2+3*(5+5)

32

In [16]:
1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1

53

In [17]:
1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1

371

In [18]:
4%2

0

In [19]:
5%2

1

In [20]:
var=2

In [21]:
var=noah

NameError: name 'noah' is not defined

In [22]:
noah=5

In [23]:
noah

5

In [24]:
winta=15

In [25]:
winta

15

In [26]:
ruhama=13

In [27]:
ruhama

13

In [28]:
firstName=Noah

NameError: name 'Noah' is not defined

In [29]:
firstName="Noah"

In [30]:
firstName

'Noah'

In [31]:
x=24000000000
y=1

In [32]:
x+y

24000000001

In [33]:
x=x+x

In [34]:
x

48000000000

In [35]:
2noah=3

SyntaxError: invalid decimal literal (4023760108.py, line 1)

In [36]:
x=x+x

> variable name cannot start with number

In [37]:
x

96000000000

variable name cannot start with ! and $

!var=2

$var=3

In [38]:
!var=2

In [39]:
$var=3

SyntaxError: invalid syntax (1821083626.py, line 1)

In [40]:
!$var=12

/bin/bash: 2=12: command not found

In [41]:
name_of_var=12

In [42]:
name_of_var

12

In [43]:
ㅤ=13

In [44]:
ㅤ

13

In [45]:
ㅤㅤ

NameError: name 'ᅠᅠ' is not defined

In [47]:
# strings COMMENT

In [48]:
'single quote'

'single quote'

In [49]:
'i am learning python with jupyter'

'i am learning python with jupyter'

In [51]:
"I can't go"

"I can't go"

In [52]:
'I can't go'

SyntaxError: unterminated string literal (detected at line 1) (3219279709.py, line 1)

In [53]:
light=1.7011e-13

In [54]:
light

1.7011e-13

In [55]:
light*2

3.4022e-13

In [56]:
light*light

2.89374121e-26

In [57]:
print (light)

1.7011e-13

In [59]:
num=12
name='sam'

In [60]:
'my name is {} and my name is {}'.format(num,name)

'my name is 12 and my name is sam'

In [64]:
a='Hi'
b='My'
c='Name'
d='Is'
e='Noah'

In [62]:
'a b c d e'

'a b c d e'

In [65]:
'{} {} {} {} {}'.format(a,b,c,d,e)

'Hi My Name Is Noah'

In [66]:
print('{} {} {} {} {}'.format(a,b,c,d,e))

Hi My Name Is Noah

In [72]:
print("{one} {two} {three} {four} {five}".format(one=a, two=b,three=c,four=d,five=e))

Hi My Name Is Noah

In [75]:
print("{one} {two} {three} {four}".format(one=e, two=d,three=b,four=c))

Noah Is My Name